body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('background-image.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    background-color: rgba(76, 175, 80, 0.8); /* Ajout d'un fond semi-transparent pour le header */
    color: white;
    padding: 1em 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.8); /* Fond semi-transparent pour le contenu principal */
}

section {
    margin-bottom: 2em;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 1em;
}

form input, form textarea, form select {
    margin-top: 0.5em;
    padding: 0.5em;
    font-size: 1em;
}

form button {
    margin-top: 1em;
    padding: 1em;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}

footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 1em 0;
}

.faq {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1em;
    margin-top: 2em;
    padding: 1em;
}

.faq-category-link {
    display: block;
    padding: 1em;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s;
}

.faq-category-link:hover {
    background-color: #45a049;
    transform: translateY(-2px);
}

.faq-category {
    display: block; /* Initialisez avec display: block */
    margin-top: 1em;
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.faq-item {
    margin: 1em 0;
}

.hidden {
    display: none;
}

/* Nouveau CSS pour centrer le contenu et styliser le lien Doctolib */
.contact-content {
    text-align: center;
    margin-bottom: 20px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s;
    font-size: 16px;
}

.button:hover {
    background-color: #45a049;
    transform: translateY(-2px);
}

/* CSS pour l'image et le texte d'accueil */
.welcome-content {
    text-align: center;
}

.welcome-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.welcome-content p {
    margin-top: 1em;
    font-size: 1.2em;
    line-height: 1.5;
}

/* Centrer le titre h2 */
#home h2 {
    text-align: center;
}

